.header {
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: yellow;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__nav_list {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
	}
	&__actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
